(Lecture Notes in Computer Science 5525 _ Programming and Software Engineering) Betty H. C. Cheng, Rogério de Lemos, Holger Giese, Paola Inverardi, Jeff Magee (auth.), Betty H. C. Cheng, Rogério de Le.pdf
(Lecture Notes in Computer Science 7475) Rogério de Lemos, Holger Giese, Hausi A. Müller, Mary Shaw, Jesper Andersson (auth.), Rogério de Lemos, Holger Giese, Hausi A. Müller, Mary Shaw (eds.) - Softw.pdf
(Programming and Software Engineering 9640) Rogério de Lemos,David Garlan,Carlo Ghezzi,Holger Giese (eds.) - Software Engineering for Self-Adaptive Systems III. Assurances_ International Seminar, Dag.pdf
2021_PhDThesis_Vaidhyanathan.pdf